<!-- <nav class="poetry-navigation"> -->
<nav>
  <button class="menu-toggle" aria-label="Toggle Menu">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </button>

  <div class="nav-content">
    <ul class="poem-list">
      {% for poem in site.poems %}
        <li>
          <a href="{{ poem.url | relative_url }}" class="{% if page.url == poem.url %}active{% endif %}">
            {{ poem.title }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</nav>